.wrapper {
  padding-left: 20px;
  padding-top: 10px;
}
.container {
  display: flex;
  gap: 20px;
}
.img {
  height: 350px;
  width: 350px;
}

.elem {
  margin-bottom: 10px;
}
.genres {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
}
.addInfo {
  padding-left: 50px;
  list-style: none;
}

.link {
  text-decoration: none;
  font-weight: bold;

  color: #fafafa;

  width: 100%;

  &:hover {
    color: red;
  }
}
.addLink {
  text-decoration: none;
  font-weight: bold;

  color: red;

  transition: transform 0.3 ease;
  &:hover {
    color: rgba(255, 0, 0, 0.697);
  }
}
.linkContainer {
  margin-top: 10px;
  margin-bottom: 10px;

  border: 1px solid red;
  width: 100px;
  background-color: red;

  display: flex;
  justify-content: center;
  text-align: center;

  transition: transform 0.3 ease;

  &:hover {
    background-color: #fafafa;
  }
}
